bucket_name: frontend.${EnvironmentName}.${DnsDomain}
enable_s3_logging: false
cloudfront_component_name: cloudfront
# bucket_policy:
#   OpsAccount:
#     principal:
#       AWS: arn:aws:iam::123456789:root
# components:
#   cloudfront:   # This must match 'cloudfront_component_name'
#     config:
#       comment: Frontend in S3
